<div class="dataTable">
  <table class="table">
    <tr>
      <td [attr.colspan]="Columns.length">
        <table   >
          <tr>
            <th class="col-10">
              <h4>Title</h4>
            </th>
            <td class="col-2">

              <div class="input-group">
                <input type="text" [(ngModel)]="Term" class="form-control" placeholder="Search" aria-label="Input group example" aria-describedby="btnGroupAddon">
                <div (click)="search()" class="input-group-text" style="cursor:pointer" ><i class="fas fa-search"></i></div>
              </div>
              
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <th *ngFor="let column of Columns">{{column.Header}}</th>
    </tr>
    <tr *ngFor="let data of Data">
      <td *ngFor="let column of Columns" [innerHTML]="data[column.Data]"></td>
    </tr>
    <tr>
      <td [attr.colspan]="Columns.length">
        <div class="row">
          <div class="col-6">
            <table style="font-size:small">

              <tr> 
                <td>Page </td>
                <td>
                  <select [(ngModel)]="Page" class="form-select form-select-sm" (change)="pageChanged()">

                    <option *ngFor="let item of [].constructor(PageCount); let i = index" [value]="i+1" >
                      {{i+1}}
                    </option>                
                  </select>
                </td>
                <td> Total: {{Total}}</td>
              </tr>
            </table>

          </div>
        </div>



      </td>
    </tr>
  </table>

</div>
