<div> 
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div [formGroup]="form">
      <div *ngFor="let field of Fields" class="mb-3">

        <label [attr.for]="field.key" class="form-label">
          {{field.label}}

        </label> <div  *ngIf="form.controls[field.key].errors?.required" class="badge bg-danger" style="float:right" >
          required
        </div>

        <ng-container [ngSwitch]="field.controlType">

          <input *ngSwitchCase="'textbox'" class="form-control" [formControlName]="field.key"
                 [id]="field.key" [type]="field.type" required>

          <textarea *ngSwitchCase="'textarea'" class="form-control" [formControlName]="field.key"
                    [id]="field.key" [rows]="field.rows??2" required></textarea>

          <select [id]="field.key"
                  class="form-select"
                  *ngSwitchCase="'dropdown'"
                  [formControlName]="field.key"
                  required>
            <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
          </select>

        </ng-container>

      </div>
    </div>

    <div class="form-row">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
