<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="card">
    <div class="card-header">
      Title
    </div>
    <div class="card-body">

      <div [formGroup]="form">
        <div *ngFor="let field of EditorFields" class="mb-3">

          <label [attr.for]="field.Key" class="form-label">
            {{field.Label}}

          </label> <div *ngIf="form.controls[field.Key].errors?.required" class="badge bg-danger" style="float:right">
            required
          </div>


          <ng-container [ngSwitch]="field.ControlType">

            <input *ngSwitchCase="'textbox'" class="form-control" [formControlName]="field.Key"
                   [id]="field.Key" required>

            <textarea *ngSwitchCase="'textarea'" class="form-control" [formControlName]="field.Key"
                      [id]="field.Key" [rows]="field.Rows??2" required></textarea>

            <!--<select [id]="field.Key"
                    class="form-select"
                    *ngSwitchCase="'dropdown'"
                    [formControlName]="field.Key"
                    required>
              <option *ngFor="let opt of field.Options" [value]="opt.key">{{opt.value}}</option>
            </select>-->

          </ng-container>


        </div>
      </div>


    </div>
    <div class="card-footer">
      <ng-container *ngFor="let field of FooterFields">
        <ng-container [ngSwitch]="field.ControlType">
          <button *ngSwitchCase="'button'" [type]="field.ButtonType" [class]="field.Class" (click)="FieldAction(field)" [disabled]="field.ButtonType=='submit' && !form.valid">{{field.Label}}</button>
        </ng-container>

      </ng-container>
    </div>


    <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
  </div>
</form>
