<div class="form-group datalist">
  <label>{{Config.ComponentData?.Title}} </label> 
  <input class="form-control" [name]="Config.ComponentData?.LabelFor" [id]="Config.ComponentData?.LabelFor"  placeholder="{{Config.ComponentData?.Placeholder}}"
    (keyup)="SetQuery($event)"  [formControl]="AcBoxController"  autocomplete="off"  > 
    <input  type="hidden" class="form-control" [name]="Config.Name" [id]="Config.Name" [formControl]="Controller" [required]="Config.Required??false"  autocomplete="off" >    
  <ul class="list-group items" *ngIf="Config.ComponentData?.Options" >
    <li class="list-group-item" *ngFor="let dt of Config.ComponentData?.Options" (click)="SetSelection(dt)" >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{dt.Label}}</div>
        {{dt.Info}}
      </div>
      </li> 
  </ul>    
  <validation-message [Controller]="Controller" ></validation-message>
</div> 
 
 