<p>Sample Listing</p>
 
<!--form-editor [Fields]="[
     {
       key: 'brave',
       controlType:'dropdown',
       label: 'Bravery Rating',
       options: [
         {key: 'solid',  value: 'Solid'},
         {key: 'great',  value: 'Great'},
         {key: 'good',   value: 'Good'},
         {key: 'unproven', value: 'Unproven'}
       ]
     },
     {
       controlType:'textbox',
       key: 'firstName',
       label: 'First name',
       value: 'Bombasto',
       required: true
     },
     {
       controlType:'textbox',
       key: 'emailAddress',
       label: 'Email',
       type: 'email'
     }]" ></form-editor>

  -->
<data-table [Columns]="[
            {
            Data:'title',
            Header:'Name'
            },
            {
            Data:'description',
            Header:'Description'
            },
              {
            Data:'Link',
            Header:''
            }
            ]"
            [Total]="books.count"
            [Data]="books.data"
            [Page]="page"
            [Pageize]="size"
            (PageChange)="pageChanged($event)"
            (Search)="search($event)"
            >

</data-table>
