.gradBack{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: inline-block;
    background: radial-gradient(circle at center,#4d4545,#000000 );
    opacity: 0.6;

}

.loadImage{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 15rem;
}
